# <font color=blue>Assignments for "Data Cleaning - Variable Types"</font>

**(1)** Determine the types of the below-given variables:
- Age : Ratio variable
- Salary : Discrete variable
- Income: Discrete variable
- Customer type : Nominal variable (Categorical)
- Stock price : Ratio variable

**(2)** Using the `movie` data, we have studied in this lesson. Complete the following tasks:
    * Select a variable from the `movie` dataset and discuss the variable type of this variable
    * Categorize a variable of your choice and assign a name to it
    * Count the number of rows for each category

In [1]:
import pandas as pd
import numpy as np
movie = pd.read_csv("https://djl-lms-assets.s3.eu-central-1.amazonaws.com/datasets/movie.csv")
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

**(3)** Is it possible to convert categorical variable into numerical one? If so, how can you make that?

In [20]:
#By changing the types of the variables.
# 0 for black and white
# 1 for color
def make_discrete(color):
    if color == "Color":
        return 1
    elif color == " Black and White":
        return 0
    else:
        return "NaN"

movie['color_group'] = movie["color"].apply(make_discrete)
display(movie.tail(15))

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,color_group
5028,Black and White,Ivan Kavanagh,12.0,83.0,18.0,0.0,Michael Parle,10.0,NaN,Horror,...,English,Ireland,NaN,10000.0,2007.0,5.0,6.7,1.33,105,0
5029,Color,Kiyoshi Kurosawa,78.0,111.0,62.0,6.0,Anna Nakagawa,89.0,94596.0,Crime|Horror|Mystery|Thriller,...,Japanese,Japan,NaN,1000000.0,1997.0,13.0,7.4,1.85,817,1
5030,Color,Tadeo Garcia,NaN,84.0,5.0,12.0,Michael Cortez,21.0,NaN,Drama,...,English,USA,NaN,NaN,2004.0,20.0,6.1,NaN,22,1
5031,Color,Thomas L. Phillips,13.0,82.0,120.0,84.0,Joe Coffey,785.0,NaN,Comedy|Horror|Thriller,...,English,USA,NaN,200000.0,2012.0,98.0,5.4,16.00,424,1
5032,Color,Ash Baron-Cohen,10.0,98.0,3.0,152.0,Stanley B. Herman,789.0,NaN,Crime|Drama,...,English,USA,NaN,NaN,1995.0,194.0,6.4,NaN,20,1
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000,1
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74,1
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0,1
5036,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4,1
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413,1
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,1
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,1
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,1
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,1
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,1

**(4)** While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

In [ ]:
when we need to use groupby fucntion we must convert continuous to discrete data

**(5)** While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.

In [24]:
movie.groupby('color_group').count()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
color_group,,,,,,,,,,,,,,,,,,,,,
0,209,206,209,209,206,209,209,209,139,209,...,209,206,209,194,190,206,209,209,204,209
1,4815,4716,4768,4801,4716,4794,4803,4808,4018,4815,...,4796,4812,4812,4533,4347,4714,4803,4815,4503,4815
NaN,0,17,16,18,17,17,18,19,2,19,...,17,13,17,13,14,15,18,19,7,19

In [30]:
def make_discrete(duration):
    if duration >= 100:
        return 1
    elif (duration < 100) and (duration < 80):
        return 2
    else:
        return 3
movie['duration_group'] = movie["duration"].apply(make_discrete)
movie.groupby('duration_group').mean()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
duration_group,,,,,,,,,,,,,,,,
1,165.456711,120.143813,945.532886,786.523139,7601.554737,5.642120e+07,110808.400669,11413.616722,1.431300,346.594848,5.057334e+07,2001.828859,2072.818821,6.689599,2.157535,10243.486957
2,44.297872,56.874372,174.457944,292.730570,2802.272727,3.108565e+07,33051.351759,4222.532663,1.211055,100.010417,1.367315e+07,1999.857143,602.666667,6.893970,4.575625,2801.005025
3,108.822466,91.603589,299.305616,453.138211,5281.309022,3.444298e+07,45331.282632,7521.780475,1.291283,170.929386,2.302533e+07,2003.652432,1082.405625,5.994552,2.102897,3650.492449