For Pandas assignments, you are going to use [Titanic](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftrain.csv) (train.csv) dataset. Download the dataset and load to a data frame. We also need [test set](https://www.kaggle.com/c/titanic/download/GQf0y8ebHO0C4JXscPPp%2Fversions%2FXkNkvXwqPPVG0Qt3MtQT%2Ffiles%2Ftest.csv) (test.csv) for this assignment.

**(1)** Read both datasets and concatenate test set to train set. Print lenght of new dataset.

In [7]:
import pandas as pd
import numpy as np
train = pd.read_csv("train.csv")
test = pd.read_csv('test.csv')
all_data = pd.concat([train,test])
print(len(all_data))

1309

**(2)** Below are 2 groups of values for 2 datasets. The first one is for features and the second one is for target. Using these, create 2 data frames with the methods you have learned in the previous lessons. Then, merge them with all 4 methods and display lenghts of them.

```  python
id,age,sex,beats_per_sec,cholesterol
1001,63,Male,145,233
1001,37,Male,130,250
1002,41,Female,130,204
1002,56,Male,120,236
1003,57,Female,120,354
1004,57,Male,140,192
1005,56,Female,140,294
1006,44,Male,120,263
1007,52,Male,172,199
1007,57,Male,150,168
1008,54,Male,140,239
1008,48,Female,150,264


id,target
1001,0
1002,1
1004,0
1005,1
1007,0
1008,1
```

In [9]:
features = pd.DataFrame({'id':[1001,1001,1002,1002,1003,1004,1005,1006,1007,1007,1008,1008],
                         'age':[63,37,41,56,57,57,56,44,52,57,54,48],
                         'sex':['Male','Male','Female','Male','Female','Male','Female','Male','Male','Male','Male','Female'],
                         'beats_per_sec':[145,130,130,120,120,140,140,120,172,150,140,150],
                         'cholesterol':[233,250,204,236,354,192,294,263,199,168,239,264]})
target = pd.DataFrame({'id':[1001,1002,1004,1005,1007,1008],
                      'target':[0,1,0,1,0,1]})

In [11]:
pd.merge(features,target,left_on='id',right_on='target')

Empty DataFrame
Columns: [id_x, age, sex, beats_per_sec, cholesterol, id_y, target]
Index: []