İkinci proje olan regresyon projesinde ve üçüncü proje olan sınıflandırma projesinde kullandığınız veri kümelerini tekrar kullanarak, karar ağaçları ile regresyon ve sınıflandırma modelleri oluşturun ve bu modeller için en uygun parametre değerlerini belirleyin. En ideal parametreyi bulmak için daha önceki bölümde öğrendiğiniz çapraz doğrulama metodlarını kullanabilirsiniz.

# Classification with Support Vector Machines (SVM)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate

train_data = pd.read_csv('titanic_train.csv')

In [2]:
train_data['is_male'] = pd.get_dummies(train_data['Sex'],drop_first = True)
train_data.drop(labels='Sex', axis=1, inplace=True)  

# C = Cherbourg
# S = Southampton
# Q = Queenstown
train_data.Embarked = train_data.Embarked.replace('C', 1)
train_data.Embarked = train_data.Embarked.replace('Q', 2)
train_data.Embarked = train_data.Embarked.replace('S', 3)
train_data.Embarked = train_data.Embarked.replace(np.nan, 0)

train_data.dropna(subset=['Age'], how='all', inplace=True)

In [3]:
df = train_data[['Pclass','is_male','Age','Fare','Embarked','Survived']]

In [4]:
df

     Pclass  is_male   Age     Fare  Embarked  Survived
0         3        1  22.0   7.2500       3.0         0
1         1        0  38.0  71.2833       1.0         1
2         3        0  26.0   7.9250       3.0         1
3         1        0  35.0  53.1000       3.0         1
4         3        1  35.0   8.0500       3.0         0
..      ...      ...   ...      ...       ...       ...
885       3        0  39.0  29.1250       2.0         0
886       2        1  27.0  13.0000       3.0         0
887       1        0  19.0  30.0000       3.0         1
889       1        1  26.0  30.0000       1.0         1
890       3        1  32.0   7.7500       2.0         0

[714 rows x 6 columns]

In [5]:
X = df[['Pclass','is_male','Age','Fare','Embarked']]
y = df['Survived']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_eğitim, X_test, y_eğitim, y_test =  train_test_split(X, y, test_size=0.20, random_state=111)

In [8]:
from sklearn.svm import SVC
svc = SVC(kernel='linear', C=1)
svc.fit(X_eğitim, y_eğitim)

SVC(C=1, kernel='linear')

In [9]:
from sklearn.metrics import accuracy_score
y_tahmin = svc.predict(X_test)
print("Rastgele Orman Doğruluk Değeri : {:.2f}".format(accuracy_score(y_test, y_tahmin)))

Rastgele Orman Doğruluk Değeri : 0.76

Modelimizin doğruluk değeri olarak 0.76 bulduk.

# Regression with Support Vector Machines (SVM)

In [10]:
house_prices_df = pd.read_csv("https://djl-lms-assets.s3.eu-central-1.amazonaws.com/datasets/house_prices.csv", sep = ";")

In [11]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

houseprices_df = house_prices_df.interpolate(method ='linear', limit_direction ='forward')

df_prices = houseprices_df.filter(['OverallQual','TotalBsmtSF','1stFlrSF','GrLivArea','GarageCars','GarageArea','YearBuilt','SalePrice'], axis=1)

# Y is the target variable
y1 = df_prices['SalePrice']
# X is the feature set
X1 = df_prices[['OverallQual','TotalBsmtSF','GrLivArea','GarageCars']]

In [12]:
X1_train, X1_test, y1_train, y1_test =  train_test_split(X1, y1, test_size=0.20, random_state=111)

In [13]:
from sklearn.metrics import mean_squared_error as MSE

from sklearn.svm import SVR
svr_reg = SVR(kernel='linear', C=1)
svr_reg.fit(X1_train, y1_train)
y_predict = svr_reg.predict(X1_test)
rmse_test = MSE(y1_test, y_predict)**(1/2)
print(" Value of RMSE (Kernel = linear): {:.2f}".format(rmse_test))

 Value of RMSE (Kernel = linear): 45900.47

Oluşturduğumuz modelin rmse değerini 45900 olarak bulduk.

In [14]:

svr_reg = SVR(kernel='rbf', C=1)
svr_reg.fit(X1_train, y1_train)
y_predict = svr_reg.predict(X1_test)
rmse_test = MSE(y1_test, y_predict)**(1/2)
print(" Value of RMSE (Kernel = rbf): {:.2f}".format(rmse_test))

 Value of RMSE (Kernel = rbf): 87714.22

Oluşturduğumuz modelin rmse değerini 87714 olarak bulduk.